BasedOnStyle: LLVM
Standard: c++20

ColumnLimit: 0
LineEnding: DeriveLF

UseTab: ForIndentation
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: All
IndentCaseLabels: false
IndentCaseBlocks: true
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
IndentRequiresClause: true
IndentWrappedFunctionNames: false
LambdaBodyIndentation: Signature
RequiresExpressionIndentation: OuterScope

PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Leave

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterUnion: true
  AfterControlStatement: Always
  AfterFunction: true
  AfterNamespace: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AlignAfterOpenBracket: DontAlign
AlignArrayOfStructures: None
AlignConsecutiveAssignments: false
AlignConsecutiveBitFields: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: AcrossEmptyLines
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: Never

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true

AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
BreakAfterAttributes: Leave
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeConceptDeclarations: Always
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: AfterColon
BreakStringLiterals: false
PackConstructorInitializers: NextLine

BinPackArguments: false
BinPackParameters: false
CompactNamespaces: false
Cpp11BracedListStyle: false
EmptyLineAfterAccessModifier: Always
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: false
IncludeBlocks: Preserve
SortIncludes: Never
StatementMacros:
  - SIV3D_CONCEPT_ARITHMETIC
  - SIV3D_CONCEPT_ENUM
  - SIV3D_CONCEPT_FLOATING_POINT
  - SIV3D_CONCEPT_FORMATTABLE
  - SIV3D_CONCEPT_FORMATTABLE_ARGS
  - SIV3D_CONCEPT_INTEGRAL
  - SIV3D_CONCEPT_NONSCALAR
  - SIV3D_CONCEPT_SCALAR
  - SIV3D_CONCEPT_SIGNED_INTEGRAL
  - SIV3D_CONCEPT_TRIVIALLY_COPYABLE
  - SIV3D_CONCEPT_UNSIGNED_INTEGRAL
  - SIV3D_CONCEPT_URBG
  - SIV3D_NODISCARD_CXX20

InsertBraces: false
InsertNewlineAtEOF: true
InsertTrailingCommas: None
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
ReflowComments: false
SeparateDefinitionBlocks: Leave

BitFieldColonSpacing: Both
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
